
body{
	background-color: #eef5f9;
	
}



.wb-panel{
	
}

.wb-panel > .head {
	border-bottom: 1px solid #efefef;
	color: #2f3c4b;
    font-weight: 600;
    /* font-size: 14px; */
	
}

.wb-table{
	background-color: white;
}