/*----------------------------------------------------------------
WebBrick Components
Version: 0.1

Components:
	wb-section
	wb-table

----------------------------------------------------------------*/


/*----------------------- Reset Globali -------------------------*/
*{
	box-sizing:border-box;
	position:relative;
}


p, h1, h2, h3, h4, h5, h6, a, body{
	margin: 0px;
	padding: 0px;
}

p{
	font-size: 14px;
	line-height: 25px;
}

a{
	text-decoration: none;
	color: black;
}

input[type='submit']{
	border-radius: 0px;
	background-color: transparent;
	-webkit-appearance: none;
}

body{
	color:#878787;
	
}


/* ===================== SECTION ==================== */

.wb-section{
	width: 100%;
	padding-left:16px;
	padding-right: 16px;
}




.wb-section > .head{
	width:100%;
	padding:16px 16px 16px 16px;
	
}

.wb-section > .head > .title{
	font-size: 18px;
	color:#212121;
	text-transform: uppercase;
}

.wb-section > .body{
	width:100%;
	//max-width: 1200px;
}


/* ===================== PANEL ==================== */
.wb-panel{
	background-color:white;
	padding: 0px 0px 0px 0px;
}

.wb-panel > .head{
	padding:16px 16px 16px 16px;
}

.wb-panel > .head > .panel-title{
	color: #212121;
	font-size: 16px;	
	
}


.wb-panel > .body{
	padding:0px 16px 16px 16px;
}



/* ===================== TABLE ==================== */

.wb-table{
	width:100%;
	border-spacing: 0px;
	border-collapse: collapse;
}

.wb-table > thead{
	
}

.wb-table > thead.fixed-header{
	position: fixed;
    background-color: white;
    z-index: 2;
	top: 64px;
}

.wb-table > thead > tr{
	height: 32px;
	
}

.wb-table > thead > tr > th{
	border-bottom: 1px solid lightgrey;
	padding: 16px;
	text-align: left;
	color: #212121;
}

.wb-table > thead > tr > th.number{
	width:100px;
	text-align: right;
}

.wb-table > thead > tr > th.date{
	width:100px;
	text-align: right;
}

.wb-table > thead > tr > th.text{
	width:150px;
	text-align: left;
}

.wb-table > thead > tr > th.long-text{
	width:300px;
	text-align: left;
}

.wb-table > thead > tr > th.control{
	width:47px;
	text-align: center;
}

.wb-table > tbody{
	
}

.wb-table > tbody > tr{
	height: 32px;
	
}

.wb-table > tbody > tr > td{
	border-bottom: 1px solid lightgrey;
	padding: 16px;
}

.wb-table > tbody > tr > td.number{
	width:100px;
	text-align: right;
}

.wb-table > tbody > tr > td.date{
	width:100px;
	text-align: right;
}

.wb-table > tbody > tr > td.text{
	width:150px;
	text-align: left;
}
.wb-table > tbody > tr > td.long-text{
	width:300px;
	text-align: left;
}
.wb-table > tbody > tr > td.control{
	width:47px;
	text-align: center;
}



/*  ---------------------  Input Text Field   ----------------------

<div class="wb-input">
	<label></label>
	<input>
	<span></span>
</div>
-----------------------------------------------------------------------*/
.wb-input{
	display: inline-block;
	text-align: left;
}
.wb-input + .wb-input{
	padding-left:20px;
}


.wb-input > label{
	display:block;
	font-size:12px;
	color:grey;
	padding: 16px 0px 8px 0px;
	text-align:left;
}

.wb-input > input{
	-webkit-appearance: none;
	display:inline-block;
	border:none;
	border-bottom: 1px solid grey;
	border-radius: 0px;
	padding-bottom: 8px;
	margin-bottom: 8px;
	font-size: 16px;
	width:100%;
}

.wb-input > input:focus{
	outline:none;
	border:none;
	border-bottom: 2px solid green;
}

.wb-input > input[type="text"]{
	display:inline-block;
	border:none;
	border-bottom: 1px solid grey;
	padding-bottom: 8px;
	margin-bottom: 8px;
	font-size: 16px;
	border-radius: 0px;
}

.wb-input > input[type="password"]{
	display:inline-block;
	border:none;
	border-bottom: 1px solid grey;
	padding-bottom: 8px;
	margin-bottom: 8px;
	font-size: 16px;
	border-radius: 0px;
}



.wb-input > input[type="text"]:focus{
	outline:none;
	border:none;
	border-bottom: 2px solid green;
}

@media only screen and (max-width: 480px) {
    .wb-input > input[type="text"]{
        width:100%;
    }

}



.wb-input > select{
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 30px;
	background-color: white;
	border-radius: 0px;
	border: none;
	border: 1px solid grey;
	padding-left: 8px;
	padding-right: 8px;
	width:100%;
}

.wb-input > select > option{
     -webkit-appearance: none;
    height: 30px;
    background-color: white;
    border-radius: 0px;
    border: none;
    border: 1px solid grey;
}


.wb-input > textarea{
	-webkit-appearance: none;
	font-size: 14px;
	//font-family: Roboto;
	border: none;
	background-size: 100% 50px;
	line-height: 1.5em;
}

.wb-input > textarea:focus{
	font-size: 14px;
	//font-family: Roboto;
	border: none;
}


.wb-input.fluid{
	width:100%;
	//padding-left: 16px;
    //padding-right: 16px;
}

.wb-input > .counter{
	position: absolute;
	right: 20px;
	z-index: 13;
	color: grey;
	bottom: 14px;
	font-size: 13px;
}


/*  ---------------------  Checkbox  ----------------------*/
.wb-checkbox{
	position: relative;

}


.wb-checkbox > input[type=checkbox]{
	display: none;

}
.wb-checkbox > input[type=checkbox] + label{
	//padding-left:35px;
	display:inline-block;
	//line-height:30px;
	background-repeat:no-repeat;
	cursor:pointer;
	background-size: contain;
}

.wb-checkbox > input[type=checkbox]:checked + label {
	//background-position: 0 -30px;
	background-image:url('../../imgs/icons/outline-check_box-24px.svg');
}

.wb-checkbox > label{
	background-image:url('../../imgs/icons/outline-check_box_outline_blank-24px.svg');
	width: 24px;
	height: 24px;
}

.wb-checkbox > input[type=checkbox] + label + p {
    display: inline-block;
    vertical-align: top;
    margin: 3px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
}





/* ===================== Modals ==================== */
.wb-button{
	
	border: 1px solid black;
	background-color: white;
	padding:8px;
	border-radius: 2px;
	
}

/* ===================== Modals ==================== */

#wb-modal-container{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.wb-modal-background{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #80808063;
}

#wb-modal-window{
	/*background-color: white;
	margin-left: auto;
	margin-right: auto;
	top:50px;
	max-width: 600px;
	min-height: 200px;*/
	
}

.wb-modal-container{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
	//display: none;
}

.wb-modal-background{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #80808063;
	    overflow-y: auto;
}

.wb-modal-window{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	top:50px;
	max-width: 600px;
	min-height: 200px;
	animation-name: wb-modal-animation-dropdown;
  	animation-duration: 0.4s
}

.wb-modal-window.alert{
	max-width: 300px;
}


.wb-modal-window > .head{
	padding: 16px 32px 0px 32px;
}
.wb-modal-window > .head > .title{
	font-size: 20px;
	font-weight: 200;
}
.wb-modal-window > .body{
	padding:32px;
}
.wb-modal-window > .footer{
	padding: 16px 16px 16px 16px;
	overflow: auto;
}

.wb-modal-window > .footer > button{
	border:none;
	font-size: 12px;
	font-weight: 600;
    float: right;
	text-transform: uppercase;
	padding: 8px;
	cursor: pointer;
	background-color: white;
}

/* Add Animation */
@keyframes wb-modal-animation-dropdown {
  from {top: -300px; opacity: 0}
  to {top: 50; opacity: 1}
}


.icon{
	width: 32px;
    height: 32px;
    background-origin: content-box;
    background-size: contain;
    background-repeat: no-repeat;
	
}

.wb-icon{
	width: 32px;
    height: 32px;
    background-origin: content-box;
    background-size: contain;
    background-repeat: no-repeat;
	
}



.wb-icon:hover + .wb-dropdown{
	display: inline-block;
}

.wb-dropdown:hover{
	display: inline-block;
}
.wb-dropdown{
	display: none;
	padding: 0px;
    position: absolute;
    color: #262626;
    list-style-type: none;
	font-size: 17px;
	background-color: white;
	margin-top: 6px;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.175);
}


.wb-dropdown > li{
	    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 700;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
	
}

.wb-dropdown > li:hover{
	background-color: #f5f5f5;
}






.wb-radiobutton{
	position: relative;

}


.wb-radiobutton > input[type=radio]{
	display: none;

}
.wb-radiobutton > input[type=radio] + label{
	//padding-left:35px;
	display:inline-block;
	//line-height:30px;
	background-repeat:no-repeat;
	cursor:pointer;
	background-size: contain;
}

.wb-radiobutton > input[type=radio]:checked + label {
	//background-position: 0 -30px;
	background-image:url('/img/icons/scalable/radiobutton_on.svg');
}

.wb-radiobutton > label{
	background-image:url('/img/icons/scalable/radiobutton_off.svg');
	width: 24px;
	height: 24px;
}

.wb-radiobutton > input[type=radio] + label + p {
	display: inline-block;
	vertical-align: top;
	margin: 3px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
}