/*


*/
/*--------------------------------------------------------------------------------------------------
					GRID SISTEM
--------------------------------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
}

img {
    box-sizing: content-box;
}



body.disable-scroll{
	overflow: hidden;
}

.container{
	position:relative;
	box-sizing: border-box;
}

.container-fluid{
	width:100%;
	overflow: auto;
	position:relative;
	box-sizing: border-box;
}

.container-fullpage{
	width:100%;
	height: 100%;
	overflow:auto;
}



/* Lista elementi */
.wb-list{
	list-style-type: none;
	padding-left: 0px;
}

.wb-list > li{
	border-bottom: 1px solid grey;
	display: block;
	padding-left: 16px;
}

.wb-list > li > a{
	text-decoration: none;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;

}





.wb-row{
	display:block;
	width:100%;
	//min-width:320px;
	overflow:auto;
	position: relative;
}
.wb-row::after {
    content: "";
    clear: both;
    display: table;
}

.wb-row > [class*='wb-col-'].padding-between{
	padding-left: 8px;
	padding-right: 8px;
}

@media only screen and (min-width:768px) {
	.wb-row > [class*='wb-col-'].padding-between:first-child{
		padding-left: 0px;
	}
	.wb-row > [class*='wb-col-'].padding-between:last-child{
		padding-right: 0px;
	}
}

/* ========================================================================
 * WebBrick Responsive column
 * Breackpoint:
 * xs: Extra small
 * sm: Small device 576 and up
 * md: Medium device 768 and up
 * lg: Large device 992 and up
 * xl: Extra large device 1200 and up
 * ========================================================================*/

/* ------------------------------------------------------------------------- 
 * Extra small device
 * less than 576px
 * ------------------------------------------------------------------------*/
[class*='wb-col-'].pad-8 {
	padding-left: 8px;
	padding-right: 8px;
}

[class*='wb-col-'] {
	display: block;
	position: relative;
}

[class*='wb-col-sm'] {
	display: block;
}

[class*='wb-col-md'] {
	display: block;
}	

[class*='wb-col-lg'] {
	display: block;
}

[class*='wb-col-xl'] {
	display: block;
}

[class*='wb-col-xs'] {
	display: inline-block;
	float:left;
}

.wb-col-xs-1 {width: 8.33%;}
.wb-col-xs-2 {width: 16.66%;}
.wb-col-xs-3 {width:25%;}
.wb-col-xs-4 {width:33.33%;}
.wb-col-xs-5 {width: 41.66%;}
.wb-col-xs-6 {width: 50%;}
.wb-col-xs-7 {width: 58.33%;}
.wb-col-xs-8 {width: 66.66%;}
.wb-col-xs-9 {width: 75%;}
.wb-col-xs-10 {width: 83.33%;}
.wb-col-xs-11 {width: 91.66%;}
.wb-col-xs-12 {width: 100%;}


/* ------------------------------------------------------------------------- 
 * Small device
 * 576px and up
 * ------------------------------------------------------------------------*/
@media only screen and (min-width: 576px) {

	[class*='wb-col-md'] {
		display: block;
	}	
	
	[class*='wb-col-lg'] {
		display: block;
	}
	
	[class*='wb-col-xl'] {
		display: block;
	}

	[class*='wb-col-sm'] {
		display: inline-block;
		float:left;
	}

	.wb-col-sm-1 {width: 8.33%;}
	.wb-col-sm-2 {width: 16.66%;}
	.wb-col-sm-3 {width:25%;}
	.wb-col-sm-4 {width:33.33%;}
	.wb-col-sm-5 {width: 41.66%;}
	.wb-col-sm-6 {width: 50%;}
	.wb-col-sm-7 {width: 58.33%;}
	.wb-col-sm-8 {width: 66.66%;}
	.wb-col-sm-9 {width: 75%;}
	.wb-col-sm-10 {width: 83.33%;}
	.wb-col-sm-11 {width: 91.66%;}
	.wb-col-sm-12 {width: 100%;}

}



/* ------------------------------------------------------------------------- 
 * wb-col-md-x
 * Medium device
 * 768px and up
 * ------------------------------------------------------------------------*/
@media only screen and (min-width:768px) {

	[class*='wb-col-lg'] {
		display: block;
	}
	
	[class*='wb-col-xl'] {
		display: block;
	}
	
	[class*='wb-col-md'] {
		display: inline-block;
		float:left;
	}
	
	.wb-col-md-1 {width: 8.33%;}
	.wb-col-md-2 {width: 16.66%;}
	.wb-col-md-3 {width:25%;}
	.wb-col-md-4 {width:33.33%;}
	.wb-col-md-5 {width: 41.66%;}
	.wb-col-md-6 {width: 50%;}
	.wb-col-md-7 {width: 58.33%;}
	.wb-col-md-8 {width: 66.66%;}
	.wb-col-md-9 {width: 75%;}
	.wb-col-md-10 {width: 83.33%;}
	.wb-col-md-11 {width: 91.66%;}
	.wb-col-md-12 {width: 100%;}


}


/* ------------------------------------------------------------------------- 
 *  * wb-col-lg-x
 * Large device
 * 992px and up
 * ------------------------------------------------------------------------*/
@media only screen and (min-width: 992px) {
	
	[class*='wb-col-xl'] {
		display: block;
	}
	
	[class*='wb-col-lg'] {
		display: inline-block;
		float:left;
	}
	
	.wb-col-lg-1 {width: 8.33%;}
	.wb-col-lg-2 {width: 16.66%;}
	.wb-col-lg-3 {width:25%;}
	.wb-col-lg-4 {width:33.33%;}
	.wb-col-lg-5 {width: 41.66%;}
	.wb-col-lg-6 {width: 50%;}
	.wb-col-lg-7 {width: 58.33%;}
	.wb-col-lg-8 {width: 66.66%;}
	.wb-col-lg-9 {width: 75%;}
	.wb-col-lg-10 {width: 83.33%;}
	.wb-col-lg-11 {width: 91.66%;}
	.wb-col-lg-12 {width: 100%;}

}

/* ------------------------------------------------------------------------- 
 * wb-col-xl-x
 * Extra Large device
 * 1200px and up
 * ------------------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {
	
	
	[class*='wb-col-xl'] {
		display: inline-block;
		float:left;
	}

	.wb-col-xl-1 {width: 8.33%;}
	.wb-col-xl-2 {width: 16.66%;}
	.wb-col-xl-3 {width:25%;}
	.wb-col-xl-4 {width:33.33%;}
	.wb-col-xl-5 {width: 41.66%;}
	.wb-col-xl-6 {width: 50%;}
	.wb-col-xl-7 {width: 58.33%;}
	.wb-col-xl-8 {width: 66.66%;}
	.wb-col-xl-9 {width: 75%;}
	.wb-col-xl-10 {width: 83.33%;}
	.wb-col-xl-11 {width: 91.66%;}
	.wb-col-xl-12 {width: 100%;}

}




/* ------------------------------------------------------------------------- 
 * FlexBox
 * Extra Large device
 * 1200px and up
 * ------------------------------------------------------------------------*/
/*
.wb-col-xs-1 {width: 8.33%;}
.wb-col-xs-2 {width: 16.66%;}
.wb-col-xs-3 {width:25%;}
.wb-col-xs-4 {width:33.33%;}
.wb-col-xs-5 {width: 41.66%;}
.wb-col-xs-6 {width: 50%;}
.wb-col-xs-7 {width: 58.33%;}
.wb-col-xs-8 {width: 66.66%;}
.wb-col-xs-9 {width: 75%;}
.wb-col-xs-10 {width: 83.33%;}
.wb-col-xs-11 {width: 91.66%;}
.wb-col-xs-12 {width: 100%;}
*/

/* ------------------------------------------------------------------------- 
 * Small device
 * 576px and up
 * ------------------------------------------------------------------------*/

.wb-flex-container{
	
}


.wb-flex-col-md{ width:}
