.wb-icon-64{
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
    padding: 20px;
    background-origin: content-box;
    background-size: 24px;
}

.wb-md-icon-black-menu{
	background-image: url(/imgs/icons/google-md/menu-black-48dp.svg);
}


.wb-md-icon-black-speakerNotes{
	background-image: url(/imgs/icons/google-md/speaker_notes-black-48dp.svg);
}

.wb-md-icon-black-edit{
	background-image: url(/imgs/icons/google-md/edit-black-48dp.svg);
}